<h2 mat-dialog-title>Password</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="form" [formGroup]="form">
    <div>
      <mat-form-field>
        <mat-label>Name*</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Login ID</mat-label>
        <input matInput formControlName="loginId" />
      </mat-form-field>
    </div>
    <div style="display: flex">
      <mat-form-field>
        <mat-label>Password*</mat-label>
        <input
          matInput
          formControlName="password"
          type="{{ isShowPassword ? 'text' : 'password' }}"
        />
      </mat-form-field>
      <button mat-button (click)="onChangeShowPassword()">
        <mat-icon>{{
          isShowPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <button mat-button style="padding: 0" (click)="onClickGeneratePassword()">
        Generate
      </button>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Site Url</mat-label>
        <input matInput formControlName="url" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-chip-list">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let tag of selectedTags"
            [selectable]="selectable"
            [removable]="true"
            (removed)="onRemoveTag(tag)"
          >
            {{ tag }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="input tag..."
            #inputTag
            [formControl]="ctrlTag"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="onAddTag($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onSelectedTag($event)"
        >
          <mat-option *ngFor="let tag of allTags" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="footer">
    <button
      *ngIf="isEdit"
      mat-raised-button
      color="warn"
      (click)="onClickDelete()"
      [disabled]="isLoading"
    >
      delete
    </button>
    <div class="spacer"></div>
    <button mat-button (click)="onClickClose()">close</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onClickSave()"
      [disabled]="isLoading"
    >
      save
    </button>
  </div>
</mat-dialog-actions>
