.mat-dialog-container {
  padding: 0px;
}

mat-dialog-content {
  max-height: "50%";
  overflow-y: auto;
  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 5px 0px;
      a {
        display: flex;
        align-items: center;
        max-width: 100%;
        word-break: break-all;

        &.file {
          cursor: pointer;

          .file-name {
            padding-bottom: 1px;
          }
          .file-name:hover {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}
