<h2 mat-dialog-title>
  <span *ngIf="isNewFile; else listHeader">Create New File</span>
  <ng-template #listHeader> Password File Select </ng-template>
</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="isNewFile; else list" [formGroup]="form">
    <mat-form-field class="example-form-field" style="width: 100%">
      <mat-label>File Name</mat-label>
      <input matInput type="text" formControlName="fileName" />
    </mat-form-field>
  </div>
  <ng-template #list>
    <p *ngIf="selectedFile">selected: {{ selectedFile.name }}</p>
    <ul *ngIf="files">
      <li *ngFor="let file of files">
        <a class="file" (click)="onSelectFile(file)">
          <mat-icon>{{ isFolder(file) ? "folder" : "text_snippet" }}</mat-icon>
          <span class="file-name">
            {{ file.name }}
          </span>
        </a>
      </li>
    </ul>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="footer">
    <ng-container *ngIf="isNewFile; else listFooter">
      <div class="spacer"></div>
      <button mat-button (click)="form = null">back</button>
      <button mat-raised-button color="primary" (click)="onClickCreateFile()">
        create
      </button>
    </ng-container>
  </div>
  <ng-template #listFooter>
    <div class="spacer"></div>
    <button mat-button (click)="dialogRef.close()">close</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onClickNewFile()"
      [disabled]="isProc"
    >
      new
    </button>
  </ng-template>
</mat-dialog-actions>
