<h2 mat-dialog-title class="title">
  Select New Password
  <div>
    <button mat-raised-button color="primary" (click)="onClickRegenerate()">
      regenerate
    </button>
    <button mat-button (click)="isShowOptions = !isShowOptions">
      {{ isShowOptions ? "▲" : "▼" }}
    </button>
  </div>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="options" *ngIf="isShowOptions">
    <label class="legend">generate option</label>
    <div>
      <mat-form-field>
        <mat-label>Length</mat-label>
        <input
          matInput
          type="number"
          [value]="generateOptions.length"
          (change)="onChangePasswordLength($event)"
        />
      </mat-form-field>
    </div>
    <mat-checkbox
      [checked]="generateOptions.use.lowerAlpha"
      (change)="onChangeGenerateOption('lowerAlpha', $event)"
      >a-z</mat-checkbox
    >
    <mat-checkbox
      [checked]="generateOptions.use.upperAlpha"
      (change)="onChangeGenerateOption('upperAlpha', $event)"
      >A-Z</mat-checkbox
    >
    <mat-checkbox
      [checked]="generateOptions.use.number"
      (change)="onChangeGenerateOption('number', $event)"
      >0-9</mat-checkbox
    >
    <div>
      <div
        style="
          position: relative;
          margin: 20px 0 10px 0;
          border-bottom: 1px solid black;
        "
      >
        <mat-checkbox
          style="
            position: absolute;
            top: -1em;
            background-color: white;
            padding-right: 10px;
          "
          [checked]="isCheckedAllSymbols"
          (change)="onChangeAllSymbols($event)"
          >symbols</mat-checkbox
        >
      </div>
      <ng-container *ngFor="let symbol of symbols">
        <mat-checkbox
          style="margin-right: 15px"
          [checked]="generateOptions.use.symbols[symbol]"
          (change)="onChangeGenerateOptionForSymbol(symbol, $event)"
          >{{ symbol }}</mat-checkbox
        >
      </ng-container>
    </div>
  </div>
  <div *ngFor="let password of candidates; let i = index">
    <button mat-button (click)="onSelected(i)">{{ candidates[i] }}</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="footer">
    <div class="spacer"></div>
    <button mat-button (click)="onClickClose()">close</button>
  </div>
</mat-dialog-actions>
