.title {
  display: flex;
  justify-content: space-between;
}

mat-checkbox {
  margin-right: 20px;
}

.options {
  position: relative;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;

  .legend {
    position: absolute;
    top: -1em;
    background-color: white;
    padding: 0 10px;
  }
}

.footer {
  display: block !important;
}
