table {
  width: 100%;
  td {
    padding: 10px;
    min-width: 150px;
  }
}

.password {
  padding: 5px 0;
  border-bottom: 1px solid lightgray;
  display: flex;

  div {
    flex: 1 1 100%;

    &.info {
      .name {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }

    &.btn-area {
      flex-basis: 100px;
    }
  }
}
