.page {
  overflow: hidden;

  .file-area {
    padding: 10px 20px;
  }

  .tag-list {
    margin: 0 5px;
    min-width: 150px;
    width: 30vw;
    max-width: 300px;
    border-right: 1px solid lightgray;
    overflow-y: auto;

    ul {
      list-style: none;
      padding: 0 10px;
      max-width: 100%;
      white-space: nowrap;
      overflow-x: hidden;

      li {
        margin: 3px 0;
        a {
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
  }
  .password-area {
    max-width: 100%;
    overflow-y: auto;
  }
}

.file {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: rgb(230, 230, 230);
}

.show-conditions {
  display: flex;
  flex-wrap: wrap;

  mat-checkbox {
    margin-right: 10px;
  }
}
