<div *ngIf="!isLoading">
    <div *ngIf="meta; else noSelected">
        パスワードファイル名：{{meta.name}}
        <button (click)="onClickRemoveSelectInfo()">clear</button>
    </div>
    <ng-template #noSelected>
        <div>
            <input #newFileName>
            <button (click)="onClickNewFile(newFileName)">new file</button>
        </div>    
    </ng-template>
    <div style="display: flex;">
        <input #addName>
        <input #addPassword>
        <button (click)="onClickAddPassword(addName, addPassword)">add password</button>
        <div class="junre">
            ここにジャンルリスト
        </div>
        <div class="passwords">
            ここにパスワードリスト
            <p *ngFor="let password of passwords">{{password.name}} {{password.password}}</p>
        </div>
    </div>
</div>
