<div class="page" *ngIf="!isInitializing">
  <div class="file-area" *ngIf="meta; else noSelected">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <button mat-raised-button color="accent" (click)="onClickAddPassword()">
        <mat-icon>add</mat-icon>
        password
      </button>
      <div [title]="meta.name">
        <button mat-button class="file" (click)="onClickSelectFile()">
          <mat-icon>text_snippet</mat-icon>{{ selectedFileName }}
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="row" *ngIf="passwords?.length; else noDataTemplate">
    <div
      #elTagArea
      class="tag-list"
      [class.close]="!isOpenTags"
      fxLayout="column"
    >
      <div fxFlex="100%" style="overflow-y: auto">
        <ul *ngIf="!isFileLoading">
          <div class="tag">
            <mat-icon>tag</mat-icon>
            <span *ngIf="isOpenTags" style="font-size: 18px">Tags</span>
          </div>
          <li *ngFor="let tag of tagsWithNoTagKey" [title]="tag">
            <a (click)="onClickTag(tag)">{{ tag }}</a>
          </li>
        </ul>
      </div>
      <div fxFlex="30px" class="footer">
        <a (click)="isOpenTags = !isOpenTags">
          {{ isOpenTags ? "<< 閉じる" : ">>" }}
        </a>
      </div>
    </div>
    <div #elPasswordArea class="password-area">
      <ng-container *ngIf="!isFileLoading">
        <ng-container
          *ngTemplateOutlet="
            templatePasswordsEachTag;
            context: { passwords: passwords }
          "
        ></ng-container>
      </ng-container>
    </div>
  </div>
  <ng-template #noDataTemplate>
    <div class="no-data">
      <div class="wrapper">no data.</div>
    </div>
  </ng-template>
</div>

<ng-template #noSelected>
  <div class="none-selected-file">
    <button mat-raised-button color="accent" (click)="onClickSelectFile()">
      select file
    </button>
  </div>
</ng-template>

<ng-template #templatePasswordsEachTag>
  <div *ngFor="let tag of tagsWithNoTagKey">
    <div class="tag">
      <mat-icon>tag</mat-icon>
      <span [id]="tag">{{ tag }}</span>
    </div>
    <div>
      <ng-container
        *ngTemplateOutlet="
          templatePasswords;
          context: { passwords: passwordsEachTag[tag] }
        "
      ></ng-container>
    </div>
    <div style="margin-bottom: 20px"></div>
  </div>
</ng-template>

<ng-template #templatePasswords let-passwords="passwords">
  <div class="passwords" fxLayout="row wrap" [ngClass.lt-sm]="{ mobile: true }">
    <ng-container *ngFor="let password of passwords; let i = index">
      <app-password-detail
        [password]="password"
        [index]="i"
        [isShowPassword]="isShowPassword"
        [isShowLoginId]="isShowLoginId"
        style="max-width: 100%"
      ></app-password-detail>
    </ng-container>
  </div>
</ng-template>
