<div style="padding: 10px 20px" *ngIf="!isLoading">
  <div style="margin-bottom: 20px">
    <button mat-raised-button (click)="onClickSelectFile()">select file</button>
    <ng-container *ngIf="meta">
      <span style="margin: 0 20px"> selected：{{ meta.name }} </span>
    </ng-container>
  </div>
  <div *ngIf="meta; else noSelected" style="margin-bottom: 20px">
    <div *ngFor="let password of passwords; let i = index" class="password">
      <div class="info">
        <h3>{{ password.name }}</h3>
        <p *ngIf="password.url">
          <a href="password.url">{{ password.url }}</a>
        </p>
        <p *ngIf="password.description">{{ password.description }}</p>
        <p *ngIf="password.loginId">{{ password.loginId }}</p>
        <p>
          {{ isShowPassword ? password.password : "**********" }}
          <button mat-icon-button (click)="onClickCopy(i)">
            <mat-icon>file_copy</mat-icon>
          </button>
        </p>
      </div>
      <div class="btn-area">
        <button mat-icon-button (click)="onClickEdit(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="danger" (click)="onClickDelete(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
