<div class="no-auth">
  <div class="description">
    <p>シンプルなパスワードマネージャーです</p>
    <p>・パスワードを一覧で管理</p>
    <p>・ランダムな文字列でパスワードを自動生成</p>
    <p>・パスワードファイルはGoogleDrive上に保存</p>
    <p>・PC／スマホでパスワードを共有可能</p>
    <p>・暗号化したデータを送受信するため安心</p>
    <p>（AES方式にて暗号化）</p>
    <hr />
    <p>※利用するにはGoogleアカウントが必要です</p>
    <p>
      ※本システムへのサインインは
      <a
        style="cursor: pointer; text-decoration: underline; color: blue"
        (click)="onClickTerms()"
        >利用規約</a
      >
      に同意したものとみなします
    </p>
  </div>
</div>
