/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(240, 240, 240);
}

.my-dialog {
  width: 600px !important;
  max-width: 98% !important;
  max-height: 70vh !important;

  .mat-dialog-container {
    padding: 0;
    overflow: hidden;

    .mat-dialog-title {
      padding: 0px;
      height: 30px;
      margin: 10px;
    }
    .mat-dialog-content {
      padding: 0 15px;
      margin: 0;
      max-height: calc(70vh - 110px);
      overflow-y: auto;
    }
    .mat-dialog-actions {
      border-top: 1px solid lightgray;
      padding: 0px;
      margin: 10px 10px 0 10px;
      height: 50px;
    }
    .footer {
      display: flex;
      width: 100%;

      button {
        flex-basis: auto;
      }

      .spacer {
        flex-basis: 100%;
      }
    }
  }
}

.mat-icon-button {
  color: rgb(100, 100, 200);

  &.danger {
    color: orange;
  }
}

button:hover {
  opacity: 0.7;
}
